<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- jQuery JS -->
    <script src="../dist/jquery/js/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../dist/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap JS With Popper-->
    <script src="../dist/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- Dashboard JS -->
    <script src="../js/dashboard.js"></script>
</head>
<body>
    <!-- Header -->
    <div id="header-placeholder"></div>
    <!-- Sidebar -->
    <div id="sidebar-placeholder"></div>
    <h2>Home</h2>
    <button class="btn logout-btn">Logout</button>
    <!-- Footer -->
    <div id="footer-placeholder"></div>
    <!-- Main JS -->
    <script src="../main.js"></script>
</body>
</html>

